/* CSS RESET and GENERICS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}


/*header*/

header{
    height: 100px;
    background-color: white;
    margin-bottom: 50px;
}
    

img{
    background-size: cover;
    width: 80px;
    height: auto;
    margin-left: 50px;
    background-color: white;
    margin-top: 10px; 
    vertical-align: middle;

    
}

h1{
    display: inline-block;
    vertical-align:middle;
    background-color: white;
    box-sizing: content-box;
    font-size: 50px;
    font-weight: 900;
    
}


.Buttons_div{
    height: 90px;   
    margin-bottom: 10px;   
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

/*buttons*/

.add_task_button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: rgb(30,144,255);
    border-radius: 7px;
    color: white;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 30px;

}

.add_section_button{
    height: 35px;
    width: 130px;
    background-color: rgb(255,255,255);
    border-radius: 7px;
    color: rgb(128,128,144);
    font-size: 20px;
    margin-top: 28px;
    margin-left: 5px;
    border-color: rgb(128,128,144);
    
}
/*main*/

main{
      height: 1000px;
      width: 1000px;
      background-color: white;
      margin: auto;
      margin-bottom: 200px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      
      
}

/*text white*/

.lable-blu, .tasks, .symbol, h3, 
.symbol_block_level, .tasks_inline,
.titoletti,.new-task, li, .symbol_green,
.symbol_red{
    background-color: white;
}


/*corpo del main*/



.titoletti{
    padding-left: 30px;
    height: 50-px;
    padding-top: 50px;
    font-size: 30px;
}

.symbol_green{
    display: inline-block;
    margin-left: 35px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    color:rgb(4,130,4) ;
    vertical-align: middle;
    line-height: 20px;
    
    
    
}

.symbol_red{
    display: inline-block;
    margin-left: 35px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid;
    text-align: center;
    color:rgb(255,57,57) ;
    vertical-align: middle;
    line-height: 20px;

}


.tasks{
    text-align: center;
    vertical-align: middle;
    margin-top: 23px;
    display: inline-block;
    font-size: 20px;
    
    
}

/*lable colors*/


.lable-blu{
    background-color: rgb(69,171,234);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    
}


.lable-purple{
    background-color: rgb(156,114,228);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    padding-top: 8px;
    
}

.lable-lightgreen{
    background-color: rgb(100,192,169);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    padding-right: 73px;
    
}

.lable-lightgreen{
    background-color: rgb(100,192,169);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 7px;
    padding-right: 73px;
    
}


.lable-orange{
    background-color: rgb(242,158,51);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    
    
}


.lable-pink{
    background-color: rgb(216,99,161);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    
}

.lable-green{
    background-color: rgb(176,201,38);
    vertical-align: middle;
    margin-top: 24px;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid;
    text-align: center;
    color:white;
    width: 69px;
    height: 32px;
    padding: 5px;
    
}